body {
    /* background-color: green;*/
    background-image: url("BgGofood.png");
    font-family: 'Gotham', Arial, sans-serif;;
}
.container {
    margin-top: 200px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card-header {
    background-color: #00aa13;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.card-body {
    padding: 20px;
}
h1, h2 {
    color: #00aa13;
    text-align: center;
    margin-bottom: 20px;
}
.form-control {
    border: 1px solid #ddd;
}
.btn-primary {
    background-color: #00aa13;
    border-color: #00aa13;
    width: 100%;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #008610;
    border-color: #008610;
}
.card-text {
    color: #555;
}
.text-white {
    color: #fff;
}